body {
  background-color: #FFFFFF;
  font-family: 'Source Serif Pro', serif;
  text-align: center;
  font-size: large;
  margin: 0px;
}

header { 
  font-size: 80px;
  font-family: 'Barriecito', cursive;
  text-align: center;
}

p {
padding: 20px;
}

a:link, a:visited {
  background-color: #1C1C1C;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #FF0000;
}

footer {
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(240, 240, 240);
  width: 700px;
}

footer p {  
  animation: blink 1s linear infinite;
  color: red;
}

@keyframes blink{
  0%{opacity: 0;}
  50%{opacity: .5;}
  100%{opacity: 1;}
}