body {
  background-color: #FFFFFF;
  font-family: 'Source Serif Pro', serif;
  margin-left: 20%;
  margin-right: 20%;
  padding: 10px;
  text-align: center;
  font-size: large;
}

header { 
  font-size: 80px;
  font-family: 'Barriecito', cursive;
  text-align: center;
}

a:link, a:visited {
  background-color: #1C1C1C;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #FF0000;
}



